*{
    margin: 20;
    padding: 0px;
}
body{
    text-align: center;
    
}
.first{
    background-color: crimson;
    font-style: oblique;
}
.second{
    background-color: darkblue;
    font-style: italic;
}
#start{
    color: white;
    background-color: black;
    padding: 10px ;

    border-style: outset;
}

#start2{
    color: white;
    background-color: black;
    padding: 10px ;

    border-style: outset;
}

.h{
    color: white;
    font-family: fantasy ,cursive;
    
    
}
.h2{
    color: white;
    font-family: fantasy ,cursive;
    
    
}

#heading{
    color: gold;
}
#heading2{
    color: gold;
}

.b1{
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;}
    
    .b1{
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      
    .b1:hover{
        background-color: purple;
        color: white;
    }

    .b2{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;}
        
        .b2{
            background-color: white;
            color: black;
            border: 2px solid #555555;
          }
          
        .b2:hover{
            background-color: gold;
            color: white;
        }